@model M0502.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    
    @using (Html.BeginForm("Create", "Product", FormMethod.Post))
    {

    }
</body>
</html>
