@model IEnumerable<M0502.Models.Comment>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="~/home/about">About</a>
        @Html.ActionLink("About", "About")
        <br />
        <a href="~/product/display/5">Display Product</a>
        @Html.ActionLink("Display Product", "Display", "Product", new {id=5}, null)
        <br />
        <img src="@Url.Action("GetImage", "Category", new { id =3 })" alt="Imagen de la categoria" />
    </div>
    <h1>Comentarios</h1>
    @*@Html.Partial("_CommentList", Model)*@
    @Html.Action("_CommentList", "Comment")
</body>
</html>
